@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
  font-family: 'Oswald', sans-serif;
  background-color: #FEFAE0;
}
.homepage .header {
  font-size: 1.5rem;
  color: white;
  height: 80vh;
  background-image: url('https://res.cloudinary.com/vanbaotran/image/upload/v1631464401/newlandpage_ixw6qm.png');
  background-size: cover;
}
.text {
  margin: auto;
  position:absolute;
  left: 30px;
  bottom: 150px;

}
.feature {
  color: #283618;
  font-size: 2rem;
  margin: 30px;
  text-align: center;
}
.text-bold {
  font-weight: 900;
}
.photo {
  max-width: 100%;
  height: auto;
}
.navBar {
  text-align: center;
}
.navBar a{
  margin: 50px;
  color: #283618;
  list-style: none;
  text-decoration: none;
}
.resume { 
  font-size: 1.2rem;
  display: flex;
  padding: 30px;
}
.education, .experience {
  text-align: left;
  width: 50vw;
  background-color:#606C38;
  color:#FEFAE0;
  padding-left: 20px;
  padding-right: 40px;
  padding-top:50px;
  padding-bottom: 100px;
  border-right: 1px solid #FEFAE0;
}
.education h2, .experience h2 {
  text-align: center;
}
.line {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.education .school , .experience-content {
  margin-left: 20px;
}